sonar.projectKey=cjyothika_cs4218-2420-ecom-project-team01
sonar.organization=cjyothika
sonar.host.url=https://sonarcloud.io

sonar.sources=src
sonar.tests=tests
sonar.inclusions=src/**/*.js
sonar.test.inclusions=tests/**/*.test.js
sonar.javascript.lcov.reportPaths=coverage/**/lcov.info

# Optional: If you're using TypeScript or a framework like React
sonar.typescript.lcov.reportPaths=coverage/**/lcov.info